@import 'include/reset';
@import 'include/clearfix';
@import 'include/helpers';
@import 'include/forms';
@import 'include/editor-tabs';
@import 'include/code-mirror-overrides';

html, body {
	font-family: 'Roboto Mono', monospace;
	background: #fafafa;
	color: #333;
	margin: 0;
	padding: 0;
}

.icon {
	background: url(../img/terminal-white.png) no-repeat 0 0;
	height: 40px;
	width: 60px;
	.light & {
		background: url(../img/terminal.png) no-repeat 0 0;
	}
}

.social-icons {

	display: flex;
	align-items: center;

	& > a {

		flex: 1;
		width: 20px;
		height: 20px;

		padding: 0 7px;

		&.github {
			background: url(../img/github-white.png) no-repeat 0 0;
			background-size: 20px 20px;
			.light & {
				background: url(../img/github.png) no-repeat 0 0;
				background-size: 20px 20px;
			}
		}

		&.linked-in {
			background: url(../img/linkedin-white.png) no-repeat 0 0;
			background-size: 20px 20px;
			.light & {
				background: url(../img/linkedin.png) no-repeat 0 0;
				background-size: 20px 20px;
			}
		}

	}
}

.main-nav {

	display: flex;

	-webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  flex-direction: row;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;

  cursor: default;
  height: 40px;
  overflow-y: visible;
  padding: 8px 14px;
  -webkit-user-select: none;
  border-bottom: 1px solid #333;

  .light & {
  	border-bottom: 1px solid #f5f5f5;
  }
}

.editor {
	width: 50%;
	float: left;
	&.right {
		float: right;
	}

	@media(max-width: @screen-sm-max){
		width: 100%;
		float: none;
		&.right {
			display: none;
		}
	}
}

section.code {
	background: #000;
}

select[name="theme-picker"],
select[name="theme-picker"] option {
	text-transform: capitalize;
	outline: none;
}

.fast-forward-contain {
	display: flex;
	flex: 1;
	button {
		background: transparent;
	  border: none;
	  cursor: pointer;
	  fill: #424242;
	  height: 40px;
	  margin: 0;
	  padding: 0;
	  width: 40px;
	  flex: 1;
	}
	svg {
		height: 40px;
		width: 40px;
	}
}

// Theme selector
.theme-picker .input {
	background: #2D2D2D;
	border: 1px solid darken(#2D2D2D, 2%);
	color: #fff;
	.light & {
		background: #fafafa;
		border: 1px solid darken(#fafafa, 2%);
		color: #333;
	}
}

.name-type {
	margin-top: -12px;
	flex: 1;
}